.description {
    top: 472px;
    left: 416px;
    width: 608px;
    height: 48px;
    padding: 1.75rem;
    margin-bottom: 1.75rem;
    color: var(--primary);
    text-align: center;
    font: normal normal 300 32px/40px Ubuntu;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

#entrar {
    top: 680px;
    left: 648px;
    width: 120px;
    height: 48px;
    margin-top:54px;
    border-radius:90px;
  }

  #card1 {
    top: 20px;
    width: 1165px;
    height: 256px;
    box-shadow: 2px 2px 10px #00000029;
    border-radius: 4px;
  }

  #title {
    top: 144px;
    left: 167px;
    width: 261px;
    height: 27px;
    text-align: left;
    color: #0C5990;
    font-weight: 700;
  }

  #subtitle {
    margin-top: -15px;
    margin-bottom: 30px !important;
    width: 250px;
    height: 18px;
    text-align: left;
    font-size: small;
    letter-spacing: 0px;
    color: #363636 !important;
    opacity: 1;
  }

  #label1 {
    top: 222px;
    left: 168px;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    color: #B5B5B5;
    opacity: 1;
  }

  #label2 {
    top: 222px;
    left: 657px;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    color: #B5B5B5;
    opacity: 1;
  }

  #cancelar {
    border-radius:90px;
    margin-top: 20px;
    margin-right: 15px;
    float: right;
  }

  #adicionar {
    border-radius:90px;
    margin-top: 20px;
    margin-right: 15px;
    float: right;
  }

  #table {
    width: 1165px;
    margin-top: 80px;
    border-radius: 4px 4px 0px 0px;

  }

  #thead {  
    background: #0C5990;
    border-radius: 4px 4px 0px 0px;
    color: white;
    text-align: center;
  }

  #tbody {
    text-align: center;
  }

  #excluir {
    border-radius:90px;
    margin-top: 5px;
    margin-right: 15px;
    border: 1px solid var(--negative);
    border: 1px solid #F91919;
    opacity: 1;
  }

  #finalizar {
    border-radius:90px;
    margin-top: 5px;
    margin-right: 15px;
    border: 1px solid #02E64A;
    border-radius: 32px;
    opacity: 1;
  }

